# requirements for the dev environment excluding ML
nbdev
pre-commit
black
# nb-black (outdated install requirements, can not be installed)
# https://github.com/dnanhkhoa/nb_black/issues/40
ipykernel
jupyterlab
papermill
pip-tools

